doctype html
html
    head
        meta(charset="UTF-8")
        title Prototipo Creación y Localización de Servicios
        link(rel="stylesheet" href="css/main.css")

        block javascripts

body
    header
        h1(class="text-center") Estilos visuales para el proyecto Información Jujuy

    div(class="container")
        legend Titulo con efecto sesgado

        div
            div(class="titulo-diagonal-blue")
                div Titulo con Contenedor Sesgado

            div(class="titulo-diagonal-yellow")
                div Titulo con Contenedor Sesgado

        div
            div(class="bloque-diagonal-blue") 
                div(class="imagen")
                    div bloque
                div(class="contenido") contenido
                    div(class="titulo-diagonal-orange" style="float: right")
                        div Titulo con Contenedor Sesgado
            div(class="bloque-diagonal-green") 
                div(class="imagen")
                    div bloque
                div(class="contenido") contenido
                    div(class="titulo-diagonal-green" style="float: right")
                        div Titulo con Contenedor Sesgado



